<app-header></app-header>
<div class="feedback">
    <h1 mat-dialog-title>FeedBack</h1>
    <div mat-dialog-content>
      <p> Name</p>
      <mat-form-field>
        <input matInput class="feedback-form" required #name/>
      </mat-form-field>
    </div>  
    <div mat-dialog-content>
      <p>Email</p>
      <mat-form-field>
        <input matInput class="feedback-form" required #email/>
      </mat-form-field>
    </div> 
    <div mat-dialog-content>
      <p>Status</p>
      <!-- <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Like</mat-radio-button>
        <mat-radio-button value="2">Dislike</mat-radio-button>
      </mat-radio-group> -->
    </div>
<div mat-dialog-content>
  <p>Suggestions!!</p>
  <mat-form-field>
    <input matInput class="feedback-form" required #suggestions/>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  cdkFocusInitial>Submit</button>
</div>
</div>

