footer {
    
        background-color:black;
        width: 100%;
        height: 40px;
        left: 0;
        bottom: 0;
        color: white;
        text-align: center;
        position: fixed;
        padding-left: 11vw;

}

mat-toolbar{
    display: inline;

}
mat-toolbar-row{
    float: left;
    font-size: 15px;
    padding-bottom: 10px;

}
span{
    float: right;
color: aliceblue;
padding: 3vw;
}