.search {
    /* The image used */
    /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg"); */

    height: 80vh;
}
.search::before {
    background-image: url('/assets/images/bgimgs.jpg');
    /* background-size: cover; */
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -2; */
    opacity: 0.6;
    border-bottom: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    }

.searchForm{
    display: inline;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button{
    color: rgb(51, 9, 9);
    height: 50px;
    border-radius: 20px;

}
.user{
    font-size: 70px;
    color: rgb(114, 34, 34);
    float: right;
    text-align: right;
    padding-right: 17vw;
    padding-bottom: 10vh;

}
.input{
    opacity:0.7;
    width: 30vw;
    height: 50px;
    border-radius: 25px;
    border: 2px solid rgb(47, 49, 44)
}
.input:focus {
    opacity: 4;
    border: 2px solid rgb(47, 49, 44);
    background-color: white;
  }

.center {
    height: 100%;
    position: relative;
}

.center .searchForm {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.logo
{
    display: inline;
        font-size: 10vh;
        color: white;
        text-align: center;
        align-content: center;
        align-items: center;

}
.micbutton{
    margin:10px;
    background-color: transparent;
    border-radius: 10px;
    align-items: center;
}
