
::-webkit-scrollbar{
    width:0px;
    background: transparent;
}
.container
{
    height:100%;
    width:100%;
    margin-top:70px;

}
.searchForm{
    display: inline;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    color: #fff;
    display: inline;
    
}

.input{
    opacity:2;
    width: 30vw;
    height: 30px;
        opacity:0.7;
        width: 30vw;
        height: 50px;
        border-radius: 25px;
        border: 2px solid rgb(47, 49, 44)
    }
    .input:focus { 
        opacity: 4;
        border: 2px solid rgb(47, 49, 44);
        background-color: white;
      }


.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button{
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 20px;
    
}

.center { 
    height: 100%;
    position: relative; 
    padding-bottom: 20px; 
}
  
.center .searchForm {
margin: 0;
position: absolute;
top: 50%;
left: 50%;

-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.peoplesearch
{
    margin-top: 50px;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(169, 177, 177);
    padding: 20px; 
    width: 100%;
    height: 250px; 
   margin-top: 100px;

  }