.privacy{
    
    padding-top: 13.65vh;
    text-align: justify;
}
h3{
    padding-top: 1vh;
}
.container{
    background-color:  rgb(241, 236, 236);
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100vh;
}