<app-header></app-header>

        <div class="contact">
                <h1 mat-dialog-title>Contact Details:</h1>
            <div mat-dialog-content>
              <p><mat-icon> call</mat-icon>
                   +91-1234567890</p>
              <span>
                    <mat-icon> mail_outline</mat-icon>email.search@search.com</span>
            </div>
            <div mat-dialog-actions>
              <button mat-button cdkFocusInitial (click)="onNoClick()">Cancel</button>
            </div>

