/* .container {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    width: 92%;
    margin-top: 15%;
   }
 
  .submit-button{
    background-color:#D5D8DC;
}
  
.layout{
  margin-top: 70px;
  max-width: 500px;
  text-align: center; 
  border-inline-width: 10px;
  align-items:center;
  
  

}

.wrapper{
overflow-y: hidden;

}

.login-button{
    background-color:#D5D8DC;
}

body{
    background-color: #D5D8DC;
}

    mat-card{
    min-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    }

    mat-card-content{
        margin-left: 25%;
    }

    mat-card-header{
        margin-left: 20%;
    }
    mat-card-actions{
        margin-left: 10%;
    }

    .invalid{
        color: red;
        margin-left:20%;
    } */


    .example-container {
        display: flex;
        flex-direction: column;
        
      }
     
      .login-button{
        background-color:#D5D8DC;
    }
    
    body{
        background-color: #D5D8DC;
    }
    
       .example-container  {
        vertical-align: top;
        width: 92%;
         } 
      
    .layout{
      margin-top: 70px;
      max-width: 500px;
      margin-left: 25vw;
        margin-right: 25vw;
      text-align: center; 
      border-inline-width: 10px;
      align-items:center;
      
      
    
    }
    .center{
      height: 100%;
      position: relative;
    }
      .example-container > * {
        width: 100%;
      }
     
      .button{
          align-self: auto;
      }
    
      body { padding:5%;
       }
    
    .content {
      background: #efefef;
      padding: 20px;
      margin-top: 25px;
      line-height: 1.8;
    }


@media only screen and (max-width: 320px) {
  
    .layout{
      min-width: 200px;
      margin-top: 70px;
      max-width: 500px;
      margin-left: 15%;
        margin-right: 25%;
      text-align: center; 
      border-inline-width: 10px;
      align-items:center;
      
      
    }}