<div class="header">
        <nav class="navbar fixed-top navbar-expand-lg ">
               <a class="nav-link" routerLink="/">
                 <mat-icon width="40" height="40" class="logo" alt="App Logo">movie</mat-icon>
             </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">
                  
                   <li class="nav-item">
                      <a class="nav-link" routerLink="/">
                   <div class="title">SEARCH</div>
                   </a>
                 </li>
                 </ul>
                  </div>
                  <mat-icon width="40" height="40" class="user">account_circle</mat-icon>
             </nav>
           </div>
        