<app-header></app-header>
<div class="main">
<div class="privacy">
    <div class="container"><h3>Privacy and Terms</h3>
    <p>The Information Technology (Amendment) Act, 2008 made
         significant changes to the Information Technology Act, 2000, introducing 
         Section 43A. This section provides compensation in the case where a body 
         corporate that possesses, deals or handles any sensitive personal data or 
         information in a computer resource that it owns, controls or operates, is negligent in 
         implementing and maintaining reasonable security practices and procedures and thereby 
         causes wrongful loss or wrongful gain to any person.</p>
         <p>In 2011, the Government of India prescribed the Information Technology
              (Reasonable security practices and procedures and sensitive personal 
              data or information) Rules, 2011[34] by publishing it in the Official Gazette.
               These rules require a body corporate to provide a privacy policy for handling of 
               or dealing in personal information including sensitive personal data or information.
                Such a privacy policy should consist of the following information in accordance 
                with the rules:</p>
<ul>
    <li>Clear and easily accessible statements of its practices and policies </li>
    <li>Type of personal or sensitive personal data or information collected </li>
    <li> Purpose of collection and usage of such information;</li>
    <li>Disclosure of information including sensitive personal data or information</li>
    <li>Reasonable security practices and procedures.</li>
</ul>
</div>
</div>
</div>
<app-footer></app-footer>