 <div class="center">        
 <form class="searchForm">
    <!-- <mat-icon  class="logo" alt="App Logo">movie</mat-icon>
    <br> -->
    
<input type="text" [(ngModel)]="name" class="form-control" name="name" placeholder="Search here">

<button  class="micbutton" *ngIf="!speech.listening"
[disabled]="speech.listening">
<mat-icon (click)="listentext()">mic</mat-icon>
</button>
<button  class="micbutton" *ngIf="speech.listening"
[disabled]="!speech.listening" (click)="speech.abort()">
<mat-icon >mic_off</mat-icon>
<!-- Stop -->
</button>


<a routerLink="/content">
     <!-- <i class="material-icons" (click)="sendMessage()">
          search
     </i> -->
     <button (click)="sendMessage()" class="search-button">
          <mat-icon>
               search
          </mat-icon>
     </button>
</a>
<div><p class="btn-label">{{btnLabel}}</p></div>
<!-- <p class="btn-label">{{btnLabel}}</p> -->
<!-- <br><p class="btn-label">{{btnLabel}}</p> -->
</form> 

</div>
